fastapi
uvicorn
langchain-groq
langchain-core
python-dotenv
gunicorn

flask

google-auth
google-auth-oauthlib
google-api-python-client

google-auth
google-auth-oauthlib
google-api-python-client

google-auth
google-auth-oauthlib
google-api-python-client
